html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 11rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: rgb(49, 70, 73);
}

main {
  grid-area: main;
  padding: 1rem;
  background-color: rgb(199, 192, 186);
}
footer {
  grid-area: footer;
  background-color: rgb(49, 70, 73);
  color: #ffffff;
}

.logo {
  width: 140px;
  height: 130px;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.7rem;
  padding: 1rem 0;
  color: white;
}

h2:hover {
  color: rgb(218, 120, 82);
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(218, 120, 82);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
  color: rgb(40, 68, 57);
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(65, 87, 65);
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

button{
  background-color: rgb(201, 102, 85);
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem solid rgb(65, 87, 65);
}
button.primary {
  background-color: rgb(235, 141, 107);
}
button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}
/*Header*/

header a {
  color: rgba(255, 255, 255, 0.925);
  padding: 1rem;
}

.badge{
  background-color:rgb(235, 141, 107) ;
  color:rgb(65, 87, 65);
  border-radius: 50%;
  padding:0.2rem 0.7rem;
  font-size:1.4rem;
  margin-left:0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30{
  min-width:30rem;
}
/* images */

img {
  border-radius: 0.5rem;
  width: 490px;
  height: 340px;
}

img.small{
  max-width: 32rem;
  width: 100%;
}

img.medium {
  max-width: 38rem;
  width: 100%;
}

img.large {
  width: 90%;
}

/* card */

.card {
  border: 0.1rem rgb(109, 133, 114);
  background-color: rgb(110, 118, 119);
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  color: white;
}

/*Rating*/

.rating span {
  color: #f0c040;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0.1rem;
}

.rating span:last-child {
  color: rgb(231, 148, 116);
}

/*rating*/
.loading{
  display:block !important;
}
.success {
  color: rgb(66, 107, 43);
}
.danger {
  color: rgb(160, 50, 31);
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: rgb(235, 141, 107);
  background-color: rgb(65, 87, 65);
}
.alert-danger {
  color: rgb(168, 43, 21);
  background-color: rgb(235, 141, 107);
}
.alert-success {
  color: rgb(66, 107, 43);
  background-color: #eeffe0;
}

/*FORM*/

.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color:rgb(49, 70, 73);
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*Checkout steps*/

.checkout-steps >div{
  border-top:0.3rem solid rgb(49, 70, 73);
  color: rgb(49, 70, 73);
  flex:1;
  padding:1rem;
  font-weight:bold;
}

.checkout-steps >div.active {
  border-top-color:rgb(214, 131, 100);
  color:rgb(194, 116, 87);
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: rgb(214, 131, 100);
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid  rgb(49, 70, 73);
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}